- return if activity.owner.nil?
- achievement = activity.trackable

%p.activity
  = link_to(activity.owner.display_name, user_path(activity.owner))

  - if achievement.privacy == Achievement::SHOW_TO_PUBLIC
    is feeling #{Achievement::VALID_STATE_TYPES[achievement.state_id].downcase}
    = "because #{achievement.reason}" if achievement.reason.present?

    - if achievement.task.present?
      (#{achievement.task.description.strip})

  - else
    - if achievement.task.present?
      completed the task: #{achievement.task.description}
    - else
      created a state achievement
  %br
  %span.activity-meta
    = votable_button(achievement, :small)
    &middot;
    = activity.created_at.strftime('%D')

.clear-both
