%h2 Milestones should be
%ol
  %li Specific
  %li Measureable
  %li Attainable

= simple_form_for [@plan,  @milestone] do |f|
  = f.error_messages
  %p
    = f.label :name
    = f.text_field :name
  %p
    = f.label :target
    = f.date_select :target, default: Date.today
  %p
    %label Measure (use this field to track your progress. Update this field whenever you made a progress.)
    = f.text_field :measure
  %p
    = f.label :status
    = collection_select(:milestone, :status, Milestone::STATUS, :first, :last, options={ :prompt => true })
  %p
    = f.submit class: 'btn btn-success'
