-#.email_quote{ style: 'background-color: #D7F2FA;color: #000;font-size: 16px;font-style: italic;padding: 15px;margin: 0px 0 40px 0;line-height: 1.5em;-webkit-border-radius: 15px;-moz-border-radius: 15px;border-radius: 15px;' }
-#  = goal_quote

%p Hello #{@user.display_name},

We haven't seen you on Happy Achiever for a while... Just a reminder:

- if @user.plans.present?
  %p.email_section_header{ style: header }
    = "You have setup #{pluralize(@user.plans.size, 'goal')}:"

  - @user.plans.each do |plan|
    = link_to plan.title, plan_url(plan), blue_link_attr
    = content_tag(:p) { "Your Vision: #{plan.vision}" } if plan.vision.present?
    = content_tag(:p) { "Why: #{plan.purpose}" } if plan.purpose.present?

  .email_action{ style: well }
    = "#{link_to('Schedule', root_url, blue_link_attr)} your task now because achieving a goal requires consistent and persistent actions.".html_safe

- if (positive_state_text = positive_states).present?
  %p.email_section_header{ style: header } Remember these moments?
  = positive_state_text
  .email_action{ style: well }
    #{link_to('Recording your state', root_url, blue_link_attr)} is like building your emotional muscle because it will MAKE YOU STRONG!

- if (show_gratefuls_text = show_gratefuls).present?
  %p.email_section_header{ style: header } Something you are grateful for:
  = show_gratefuls_text
  .email_action{ style: well }
    When you are grateful fear disappears and abundance appears.
