= simple_form_for [@focus_area, @task] do |f|
  = f.error_messages
  %p
    = f.input :description
  %p
    = f.input :purpose

  = f.hidden_field :plan_id, :value => @focus_area.plan_id
  %p
    -#= select(:task, :focus_area_id, @plan.focus_areas.all.collect {|a| [ a.title, a.id ] })
  %p
    = f.submit
