%p Hello #{@reply_to.display_name},


%p
  #{@comment.user.display_name} left a comment
  %span{ blue_link }"#{@comment.comment}"
  on
  %span{ blue_link }"#{commentable_message(@comment.commentable)}"

%p
  To view or reply the comment,
  - case @comment.commentable
    - when Plan then
      = link_to 'click here', plan_url(@comment.commentable)
    - when Achievement
      = link_to 'click here', achievement_url(@comment.commentable, back: 'back')

