%h1 When you are grateful fear disappears and abundance appears.

%h3 List 5 things that you are grateful for.  If you have / had this feeling because of   a person / thing / job / etc, think about what you could possibly grateful for about it.

%p
  Try to pay attention on the smallest thing around you that you haven't discovered previously.  A smaller beautiful flower blooming at your house, morning bird singing outside of your window, a delicious ice-cream, a joyful moment with your friend...


= simple_form_for [@achievement, @grateful] do |f|
  = f.error_messages
  %p
    1
    = f.text_field :grateful_1
  %p
    2
    = f.text_field :grateful_2
  %p
    3
    = f.text_field :grateful_3
  %p
    4
    = f.text_field :grateful_4
  %p
    5
    = f.text_field :grateful_5
  %p
    = f.submit class: 'btn'
