- User.all.each do |u|
  .user-snippet
    = display_last_state(u)
    = link_to u.display_name, user_path(u)
    = icon_for(:level_up, u.level[0]) if !u.achievements.empty?
    = icon_for(:bullseye, u.plans.count) if !u.plans.empty?
    = icon_for(:star_empty, u.achievements.count) if !u.achievements.empty?
    = icon_for(:book, u.lessons.count) if !u.lessons.empty?
