.row
  .span2
    = render 'users/stats', user: @user
    = render 'team_memberships/teammates', user: @user
    = render 'accountables/team_hold_me_acccountable', user: @user
    = render 'team_memberships/teams_supporting', user: @user
    = render 'accountables/i_hold_my_team_accountable', user: @user
    = render 'accountables/add_accountable', user: @user

  .span7.main-column
    %div
      = render 'achievements/new_state_achievement' if current_user == @user
      = render 'schedules/today_schedule', user: @user if current_user == @user
      = render 'plans/overview', user: @user
      = render 'plans/add_new_plan' if current_user == @user

      - if current_user == @user
        .homepage-quote{ class: "bg#{rand(1..6)}" }= "#{quote.first[0]} - #{quote.first[1]}"

  .span3
    - if @activities.present?
      #activities-container
        #activities
          = render_activities(@activities)
      %hr.soften

    = render 'layouts/graphs'
    %hr.soften

= render 'users/all_users' if current_user == @user

= @user.email if current_user && current_user.admin?
