%p You have setup #{@user.plans.count} goals, good job.

- @user.plans.each do |plan|
  .plan-status
    .well.clearfix
      %p
        .pull-left{ style: 'padding-right: 10px;' }= image_tag(plan.image_path, size: '100x100') if plan.image_path.present?
        .pull-left
          %h2.orange
            = image_tag 'goal.png', size: '48x48'
            = plan.title
          %h3
            = image_tag 'why48.png'
            Why: #{plan.purpose}
        .clear-both
        .pull-left{ style: 'padding-top: 10px;' }
          = votable_button(plan)


    %p= link_to 'Show Motivational Tips', '#', class: 'btn btn-info btn-mini', data: { behavior: 'show-plan-tips' }
    = render 'plans/status_total_achievements', plan: plan
    = render 'plans/status_milestones', plan: plan
    = render 'plans/status_tasks_done', plan: plan
    = render 'plans/status_streak', plan: plan
    = render 'plans/status_undone_task', plan: plan
    = render 'plans/status_help_buttons', plan: plan

%hr

= render 'users/status_state_achievements', user: @user
