%h4.text-center #{user.display_name}
%ul.unstyled
  %li
    = image_tag 'star32.png', size: '24x24'
    = link_to_if current_user == user, "#{user.achievements.count} Achievements", achievements_path
  %li
    = image_tag 'support-small.png', size: '24x24'
    = link_to_if current_user == user, "#{user.supports_count} Supports", supports_path
  %li
    = image_tag 'comments32.png', size: '24x24'
    = link_to_if current_user == user, "#{user.comments.count} Comments", comments_path
  %li
    = image_tag 'lessons.png', size: '24x24'
    = link_to_if current_user == user, "#{user.lessons.count} Lessons", lessons_path
  %li
    = image_tag 'heart.png', size: '24x24'
    = link_to_if current_user == user, "#{user.all_gratefuls.count} Gratefuls", gratefuls_path

%hr.soften
