- if current_user != @user && user_signed_in?
  - if @user.is_in_team_of?(current_user)
    .label.label-info= "#{@user.display_name} is in your team"
  - elsif current_user.waiting_for_response?(@user)
    .alert= "Team request pending"
  - else
    = link_to "Ask #{@user.display_name} to join your team", new_user_team_request_path(@user), class: 'btn'
  %hr

= render 'users/profile', user: @user

= link_to 'Delete User', user_path(@user), method: :delete, confirm: 'Are you sure?' if can?(:destroy, @user)
= link_to 'Email User', email_user_path(@user) if can?(:destroy, @user) if can?(:destroy, @user) #todo should be a different permission
