- return if schedule.task.nil?
-# Expect mode, date, schedule
%li
  - case mode
    - when :view
      .time.pull-left= "#{schedule.scheduled_date.to_time.strftime('%I:%M %p')} - #{schedule.duration} mins"
      .pull-right= image_tag(schedule.task.plan.image_path, class: 'plan-small')
      .clear-both
      %p= schedule.task.description
      .well.well-small
        - if schedule.task.purpose.present?
          = image_tag('purpose.png')
          %u Purpose:
          .orange= schedule.task.purpose
        - else
          = image_tag 'attention.png'
          A meaningful purpose will help you take action. So please
          = link_to 'enter now', edit_focus_area_task_path(FocusArea.find(schedule.task.focus_area_id), schedule.task, from: 'home'), class: 'btn btn-mini btn-warning'

    - when :schedule, :edit
      = image_tag(schedule.task.plan.image_path, class: 'schedule-thumb plan-tiny')

      .pull-right
        = link_to(icon_for(:edit), edit_schedule_path(schedule))
        = link_to(icon_for(:remove), schedule, :confirm => 'Are you sure?', method: :delete)

      - if date <= DateTime.now.to_date
        .pull-left
          - achievements = Achievement.achievements_on_date(date)
          - if (task_achieved?(achievements, schedule.task.id, date, schedule.scheduled_date))
            .label.label-warning Achieved!
          - else
            = link_to 'Achieve!', new_task_achievement_path(schedule.task.id,
              :date => combine_date_time(date, schedule.scheduled_date), duration: schedule.duration),
              class: 'btn btn-mini btn-info'
      .clear-both
      %br
      %span= schedule.task.description
      %span.time= " #{schedule.scheduled_date.to_time.strftime('%I:%M %p')} - #{schedule.duration} mins"
