.well#time-scheduled
  Time scheduled this week:
  - @plans.each do |p|
    = link_to plan_path(p) do
      = image_tag(p.image_path, class: 'schedule-thumb plan-small')
      = image_tag 'clock.png'
      = time_spent_in_words(p.minutes_scheduled)
  .label.label-important= 'To achieve your goal you MUST spend time on it' if @plans.any? { |p| p.minutes_scheduled.zero? }
