- title "Schedules"
- if (requirement = requirement_to_schedule).present?
  %h2.text-center Before you can setup your schedule, you need to <span class='orange'>#{requirement.to_sentence}</span> first.
- else
  .row
    .span12
      .page-header
        .pull-left
          %h1#week Week of #{@week_of.strftime('%m/%d')} to  #{@week_of.end_of_week.strftime('%m/%d')}
        .pull-right
          = link_to icon_for(:chevron_sign_left, 'Previous week'), schedules_path(week: (@week_of - 1.week).strftime('%D'))
          |
          = link_to icon_for(:chevron_sign_right, 'Next week', :right), schedules_path(week: (@week_of + 1.week).strftime('%D'))
        .clear-both
      = render 'time_scheduled_on_plans'
  .row
    .span12
      .weekly-schedule= render partial: 'schedules/day_range', :locals => { start_date: @week_of, days: 7, schedules: @schedules, mode: :edit }

  %br
  .alert
    %p{ style: 'font-size: 32px; line-height: 1.5em;' } FAQ - Please Read
    %p.orange Q: How do I create a schedule?
    %p A: This calendar works like a weekly calender.  If you want to create a task for every Monday, you click on "Add Schedule" in the Monday column and then select "Weekly".  If you want it to be everyday, you can select "Daily".
    %p.orange Q: When I completed a task, how do I mark it down?
    %p A: You can mark it down by clicking on <span class='btn btn-mini btn-info'>Achieve!</span> on the time slot of the task.


  %ol#schedulerTip.joyRideTip
    %li{ data: { id: 'week' } }
      %p This shows the current week.
    %li{ data: { id: 'time-scheduled' } }
      %p Show how much time you scheduled for each goal.
      %p <span class='orange'>If you want to achieve a goal, you MUST spend more time on it.</span>
    %li{ data: { id: 'joyride-schedule-button' } }
      %p Click on this button to add schedule for this day.  You can choose doing the task daily, weekly, or once.

  :javascript
    $(window).load(function() {
      $("#schedulerTip").joyride({
        autoStart: true,
        modal: false,
        cookieMonster: true,
        cookieName: "schedulerTip#{current_user.id}",
        cookieDomain: false,
        postRideCallback : function() {
        }
      })
    });
