.home-stats
  = image_tag 'star.png', size: '24x24'
  .header
    You have received:
  = image_tag 'star32.png', size: '24x24'
  = link_to "#{current_user.achievements.count} Achievements", achievements_path
  = image_tag 'support-small.png', size: '24x24'
  = link_to "#{current_user.supports_count} Supports", supports_path
  = image_tag 'comments32.png', size: '24x24'
  = link_to "#{current_user.comments.count} Comments", comments_path
  = image_tag 'lessons.png', size: '24x24'
  = link_to "#{current_user.lessons.count} Lessons learned", lessons_path
