.row
  .span8
    .well#state-and-task-achievement
      = render 'achievements/new_state_achievement'
      %hr
      = render 'achievements/new_task_achievement'
  .span4
    #recent-states
      - recent_states.each do |state|
        %p
          %small #{state[:date]}
          %br
          = image_tag state[:state_image]
          = "#{state[:state_name]} - #{state[:reason].humanize}"
%hr
.row
  .span12
    = render 'plans/overview', plans: @plans
%hr
.row
  .span8
    %h2#state-chart
      Your Past States
      %small Mouse over the bar to show details
    #chart-container
      #chart-hover-text
      = high_chart('achievement_chart', achievements_state_chart())
  .span4
    %h2#ha-chart
      Happy Charts
    = render 'layouts/graphs'

-# I NEED THIS. It is commented out so I don't need to see it again. But it is needed.
-#- if missed_schedules(1.month)
-#  = render 'page/reminder_modal'

%ol#joyRideTip1.joyRideTip
  %li{ data: { id: 'home-button' } }
    %p Welcome to <span class='orange'>Happy Achiever!</span> We are happy to have you here, we hope you will find it helpful!
    %p Let us show you a few things here.  You can click on this <u>Home</u> link to come back to the home page.
  %li{ data: { id: 'new-state-achievement-title' } }
    %p Your feelings create your reality.  Therefore <span class='orange'>this is the most important tool here</span>.  Use this tool EVERYDAY to keep yourself in a positive state.
    %p
      =image_tag 'Happy.png'
      If you are happy, write down the reason so you can reference it in the future.
    %p
      =image_tag 'Sad.png'
      If you feel down, we have a easy guide to help you understand why you are down.
  %li{ data: { id: 'state-button' } }
    %p Please select a date and enter how you feel now.

%ol#joyRideTip2.joyRideTip
  %li{ data: { id: 'recent-states' } }
    %p This shows your recent states.  If you are not feeling great right now, look at <span class='orange'>why you felt great in the past</span> will inspire you.
  %li{ data: { id: 'state-chart' } }
    %p This chart shows your previous states.  If you are not feeling great right now, look at <span class='orange'>why you felt great in the past</span> will inspire you.
  %li{ data: { id: 'ha-chart' } }
    %p Be PROUD of how much you have <span class='orange'>GROWTH</span>, how many <span class='orange'>PROGRESS</span> you have made, and things you have <span class='orange'>LEARNED</span>.</span>
  %li{ data: { id: 'no-plan-container' } }
    %p This area displays all your current goals. Right now you don't have any goals setup yet.
  -#%li{ data: { id: 'mark-achievement' }}
  -#  %p This is another important tool here.  When you completed a task of your goal, mark it as achievement because you are making <span class='orange'>PROGRESS</span> and <span class='orange'>LEARNING</span>.<br><br>But before you could do that, you have to setup a goal first.
  %li{ data: { id: 'add-goal' } }
    %p Now it is time to <span class='orange'>setup your first goal now.</span>

-# Not sure what this is for
-#%ol#joyRideTip3.joyRideTip
-#  %li{ data: { id: 'achieved-goal' } }
-#    %p Achieve ur goal


:javascript
  function chart_mouse_over(){
    $('#chart-hover-text').html(this.reasons);
    $('#chart-hover-text').show();
  }

  function chart_mouse_out(){
    $('#chart-hover-text').hide();
  }

  function column_formatter(){
    names = this.point.stateNames.split(',');
    imagePaths = this.point.imagePaths.split(',')

    html = '';
    var i = 0;
    for(i = 0; i < names.length; i++) {
      html += names[i] + '<div class="text-center"><img src="' + imagePaths[i] + '"></div>'
    }

    return '<div class="chart-image">'+html+'</div>'
  }

- if current_user.achievements.count == 0
  :javascript
    $(window).load(function() {
      $("#joyRideTip1").joyride({
        autoStart: true,
        modal: true,
        cookieMonster: true,
        cookieName: "JoyRide1#{current_user.id}",
        cookieDomain: false
      })
    });

- elsif current_user.achievements.count == 1
  :javascript
    $(window).load(function() {
      $("#joyRideTip2").joyride({
        autoStart: true,
        modal: true,
        cookieMonster: true,
        cookieName: "JoyRide2#{current_user.id}",
        cookieDomain: false,
        postRideCallback : function() {
          $('#no-plan-container').effect('highlight')
        }
      })
    });

-#- if current_user.tasks.present?
-#  :javascript
-#    $(window).load(function() {
-#      $("#joyRideTip3").joyride({
-#        autoStart: true,
-#        modal: false,
-#        cookieMonster: false,
-#        cookieName: "JoyRide3#{current_user.id}",
-#        cookieDomain: false,
-#      })
-#    });
