.row
  .span12
    .well.thin
      = render 'page/home_stats'
      - if(day_schedules = schedules_on_date(current_user.schedules.all, DateTime.now.to_date)).present?
        %hr.tight
        .clearfix#today-schedule
          = image_tag 'calendar48.png', size: '24x24'
          = render partial: 'schedules/schedule', collection: day_schedules, locals: { mode: :mini, date: DateTime.now.to_date }
.row
  .span8
    .well#state-and-task-achievement
      = render 'achievements/new_state_achievement'

    = render 'layouts/graphs'

  .span4#activities-container
    #activities
      = render_activities(@activities)


.homepage-quote{ class: "bg#{rand(1..6)}" }= quote

.row
  .span12
    = render 'plans/overview', user: @user

%hr
.row
  .span12
    %h2 #{User.count} Happy Achievers!
    %p.muted= icon_for(:level_up, 'Level') << ' ' << icon_for(:bullseye, 'Goals') << ' ' << icon_for(:star_empty, 'Achievements') << ' ' << icon_for(:book, 'Lessons') << ' ' << icon_for(:heart_empty, 'Gratefuls')
    = render 'users/all_users'

%ol#joyRideTip1.joyRideTip
  %li{ data: { id: 'home-button' } }
    %p Welcome to <span class='orange'>Happy Achiever!</span> We are happy to have you here, we hope you will find it useful!
    %p Let us show you a few things here.  You can click on this <u>Home</u> link to come back to the this page anytime.
  %li{ data: { id: 'new-state-achievement-title' } }
    %p Your feelings create your reality.  Therefore <span class='orange'>understand your feeling</span> is a very important. Use this <span class='orange'>State Tool</span> everyday to build your emotion muscle!
    %p If you are happy, select a #{image_tag 'Happy.png'} icon from the list and write down the reason so you can reference it in the future.
    %p If you feel down, we have a easy guide to help you understand why you feel down.
  %li{ data: { id: 'state-button' } }
    %p Please select a date and enter how you feel now.

%ol#joyRideTip2.joyRideTip
  %li{ data: { id: 'activities' } }
    %p This shows what others did recently.  You could support other people and receive supports from them.
    %p= image_tag 'support.png'
  %li{ data: { id: 'emoji-chart-tab' } }
    %p This shows an overview of your previous emotions. If you use it everyday, your chart could look like this:
    %p= image_tag 'emoji_chart_small.png'
    %p If you are not feeling great, <span class='orange'>looking back at a time when you were happy</span> will inspire you.
  %li{ data: { id: 'progress-chart-tab' } }
    %p Everytime you completed a task towards your goal, it is an achievement and it is shown in this <span class='orange'>progress chart</span>.  If you make consistent progress, your chart could look like this:
    %p.text-center= image_tag 'progress_chart.png', size: '200x100'
  %li{ data: { id: 'add-goal' } }
    %p This area displays all your current goals. Right now you don't have any goals setup yet.  Now it is time to <span class='orange'>setup your first goal now.</span>

:javascript
  function chart_mouse_over(){
    $('#chart-hover-text').html(this.reasons);
    $('#chart-hover-text').show();
  }

  function chart_mouse_out(){
    $('#chart-hover-text').hide();
  }

  function column_formatter(){
    names = this.point.stateNames.split(',');
    imagePaths = this.point.imagePaths.split(',')

    html = '';
    for(var i = 0; i < names.length; i++) {
      html += '<img src="' + imagePaths[i] + '" width=22 height=22 style=\'margin-bottom:5px\'><br>'
    }

    return html;
  }

- if current_user.achievements.count == 0
  :javascript
    $(window).load(function() {
      $("#joyRideTip1").joyride({
        autoStart: true,
        modal: true,
        cookieMonster: true,
        cookieName: "JoyRide1#{current_user.id}",
        cookieDomain: false
      })
    });

- elsif current_user.achievements.count == 1
  :javascript
    $(window).load(function() {
      $("#joyRideTip2").joyride({
        autoStart: true,
        modal: true,
        cookieMonster: true,
        cookieName: "JoyRide2#{current_user.id}",
        cookieDomain: false,
        postRideCallback : function() {
          $('#no-plan-container').effect('highlight')
        }
      })
    });
