- content_for :full_width do
  .home-header
    .content-container
      .inner-container
        %h1
          <span class='yellow'>Happy Achiever</span><br>
          helps you achieve<br>
          your goals happily!
        .sub-text The only goal achieving tool that understands the emotional challenges and wants to <span class='yellow'>achieve your goals with you.</span>

        %ul
          %li Celebrate every action you take towards your goals
          %li Tools to give you emotional support when facing challenges
          %li Form a team to give you support and hold you accountable

        = link_to 'Create Free Account!', new_user_registration_path, class: 'btn btn-large btn-warning'

  .feature-boxes
    .feature-box
      %div
        .text-center
          = image_tag 'celebration.png'
          %p We celebrate every action
    .feature-box
      %div
        .text-center
          = image_tag 'support.png'
          %p Tools for emotional support
    .feature-box
      %div
        .text-center
          = image_tag 'team.png', size: '64x64'
          %p Team holds you accountable
  .section
    .container
      .row
        .span8
          %h2 We <span class='blue'>Celebrate</span> Every Action You Take
          %p
            Every action you take towards your goal is an <strong>achievement</strong> because you have growth, made progress,
            learned new knowledge, and are one step closer to your goal. It is a moment we should <strong>celebrate</strong>!
          %p
            You mark down what you have achieved on the weekly planner and we celebrate with you, track your progress,
            share your achievements in our community so everyone can celebrate with you.
        .span4= image_tag 'home-section-1.png'
  .section
    .container
      .row
        .span4
          .hidden-phone= image_tag 'home-section-2.png'
        .span8
          %h2 We Understand the<br><span class='blue'>Emotional Challenges</span>
          %p
            Use our Emoji tool to build your <strong>emotional muscle</strong> everyday.
            When you are not feeling great, our  <strong>powerful emotional tool</strong> guides you to understand why you feel negatively,
            and you will instantly feel better.
          %p
            Throughout the website, we have tips, motivational quotes and videos to help you deal with the unavoidable emotional
            challenges so that you can stay focused on your goals.
          .visible-phone= image_tag 'home-section-2.png'
  .section
    .container
      .row
        .span8
          %h2 Your Team is Here to <span class='blue'>Support You</span>
          %p
            You will never be alone.  Supporting each other is a key concept in Happy Achiever.  Simply click on the  <strong>"Support" button</strong> to support
            each others' goals and achievements, encourage each other, and grow together.
          %p
            To a lot of people, having someone to hold them accountable is the
            most effective way of taking an action.  You can now invite people to <strong>join your team</strong> and <strong>hold you accountable</strong>.
            You can also join other people's teams to contribute back to the community.
        .span4= image_tag 'home-section-3.png'

  .section{ style: 'background-color:#ffffff' }
    .container
      %h3 - Amazing Key Features -
      .row
        .span6
          %ul.feature
            %li Goal setting based on Tony Robbins method
            %li Easy-to-use weekly planner
            %li Track your progress, milestones, achievements
            %li Various celebration screens to keep you motivated
            %li Categorize the lessons you learned
        .span6
          %ul.feature
            %li Progress chart and Emoji chart
            %li Write your journal
            %li Team holds you accountable
            %li Community of like minded people

  %div.home-call-to-action
    .container
      .text-center
        %h2 It's free, it's fun!
        %p Don't wait! It is in your moments of decision that your destiny is shaped!
        = link_to 'Create Free Account!', new_user_registration_path, class: 'btn btn-large btn-warning'
