.row
  .span12
    %h1.text-center Do you know?
    %ul.large
      %li Only <span class='orange'>1 in 3</span> people said they are happy
      %li Only <span class='orange'>3%</span> of people have written goals and plans
      %li Only <span class='orange'>8%</span> of people achieve their New Year's resolutions

    %hr.soften

    %h1.text-center Happy Achiever is here to help you:
    %ol.large
      %li Organize what you have <span class='orange'>Learned</span> and keeps your honest on how you feel every single day
      %li Motivate you to <span class='orange'>Achieve</span> your goals and desires
      %li Keep you <span class='orange'>Happy</span> everyday

    %hr.soften

.text-center
  %h1 <u>Happiness is</u>

.row
  .span3.text-center
    = image_tag 'grow.jpg', size: '150x150'
    %h2 Grow
  .span3.text-center
    = image_tag 'moving_forward.jpg', size: '150x150'
    %h2 Moving forward
  .span3.text-center
    = image_tag 'progress.jpg', size: '150x150'
    %h2 Progress
  .span3.text-center
    = image_tag 'giving.jpg', size: '150x150'
    %h2 Giving

.row.text-center
  %i If you are growing, giving, moving forward in your life, making progress personally, professionally, emotionally, spiritually, you will find true long lasting happiness.

%hr.soften

.text-center
  %h1 <u>Happiness is NOT</u>

.row
  .span4
    .text-center
      = image_tag 'rich_toys.jpg', size: '150x150'
      %h2 Get whatever you want
    %p.muted Psychologists said that material possessions such as sports car, luxury watches, and being wealthy do not provide happiness.  Filthy rich people often find themselves empty.
  .span4
    .text-center
      = image_tag 'promoted.jpg', size: '150x150'
      %h2 Rockstar happiness
    %p.muted When you have reached a certain goal, e.g. get promoted, received recognition, closed a business deal.  This happiness could be meaningful but it is not long lasting.
  .span4
    .text-center
      = image_tag 'lower_expectation.jpg', size: '150x150'
      %h2 Lowered expectation
    %p.muted If you lower your expectation, you might not be disappointed.  But this happiness is short-term.  And you may miss what you could potentially achieve.

%hr.soften

  .text-center
    .well
      %h1 <i><span class='orange'>BEING A HAPPY ACHIEVER</span></i>
      %h3
        =image_tag 'Happy.png'
        %i{ style: 'line-height: 1.8em' }
          We don't need to wait to be happy after we achieved our goals. We can feel happy while we are working on a goal as long as we are growing, learning and enjoying the process.
          We celebrate each step took, be proud of what we have achieved and enjoy the journey.
    %br

    %h1 Take the first step, <u>Join Us</u> to be a <span class='orange'>Happy Achiever!</span>

    %br

    = link_to 'Join Us', new_user_registration_path, class: 'btn btn-large btn-warning'
    &nbsp;
    &nbsp;
    = link_to 'Login', new_user_session_path, class: 'btn btn-large btn-success'
