.row
  .span12
    .progressbar{ style: 'position:relative' }
      - level = Achievement.level

      %div{ style: 'position:absolute;top:5px;left:10px' }
        Level #{level[0]}

      %div{ style: 'position:absolute;top:5px;right:10px' }
        Level #{level[0]+1}

.row
  .span12
    .well
      = render 'achievements/new_state_achievement'

.home-plan-overview
  = render 'plans/overview', :plans => @plans
%hr

.row
  .span4
    .list-no-style.view-schedule
      %h3 2 Days Schedule
      = render :partial => 'schedules/day_range', :locals => {:days => 3, :schedules => Schedule.all, :mode => 'view'}

      %button.btn.btn-info
        = icon_for(:user_md, 'I need motivation to take action!')
      (Peak state / Review the WHY - use your body and your voice)

    -#= render :partial => 'schedules/day_range', :locals => {:days => 1, :schedules => Schedule.all, :mode => 'achieve'}
  .span8
    = render 'achievements/level'
    %hr
    %h3 Recent Achievements
    #chart-container
      #chart-hover-text
      = high_chart("achievement_chart", @chart)
    = render 'achievements/count'

.todo randomize the h1 "What you Focus On is what you Feel. Feeling is your reality BUT IS NOT REAL!" on the empowerment screen so I don't see the same message again.
.todo On the enpowerment form, hide the (xxx) message.  Make the radio to group button.  Hide the text box.
.todo Add more than one lesson for a achievement
.todo Track wasted time and show in a chart - how much time you are doing unimportant stuffs.
.todo Celebration is important.  Add celebration concept whenever hits a certain number.
.todo Define success and failure for each goal.
.todo Add celebration concept on achievement screen.
.todo Allow select multiple emotions (bored and anger and fear)
.todo If a task that's supposed to do has not completed for 3 consecutive scheduled days, display reminder.
.todo Recent achievments don't include state achievement.  It should.
.todo Need a way to enter one-time task that helps the plan.
.todo The up coming schedule could call out tasks that you haven't done for a long time.

%hr
TODO:<br>
First screen<br>
Do you want to achieve something in your life right now? (career, weightloss, tennis)
[Yes]
[No] link to Facebook and Youtube
---------
Where you spend your time on right now?
%input{ :type => 'text' }
%br
<u>Urgent and important</u> <u>Urgent and NOT important</u> <u>NOT Urgent and important</u> <u>NOT Urgent and NOT important</u><br>
< Show current working task ><br>
< Keep track of time I WASTED instead of working on my GOAL! ><br>
< Grateful jar >
"Habit --- how to build habit?  Doing "Task"
:javascript
  function chart_mouse_over(){
    $('#chart-hover-text').html(this.reasons);
    $('#chart-hover-text').show();
  }

  function chart_mouse_out(){
    $('#chart-hover-text').hide();
  }

  function column_formatter(){
    names = this.point.stateNames.split(',');
    imagePaths = this.point.imagePaths.split(',')

    html = '';
    var i = 0;
    for(i = 0; i < names.length; i++) {
      html += names[i] + '<div class="text-center"><img src="' + imagePaths[i] + '"></div>'
    }

    return '<div class="chart-image">'+html+'</div>'
  }
