.row
  .span8
    .well#state-and-task-achievement
      = render 'achievements/new_state_achievement'
      = render 'achievements/new_task_achievement'

  .span4
    - classes = ['active', '', ''] #.shuffle
    %ul.nav.nav-tabs#chart-tabs
      %li{ class: classes[0] }= link_to 'Grow', "#grow", data: {toggle: "tab" }
      %li{ class: classes[1] }= link_to 'Accumulative', "#accumulative", data: {toggle: "tab" }
      %li{ class: classes[2] }= link_to 'Learned', "#learned", data: {toggle: "tab" }

    .tab-content#chart
      #grow{ class: [classes[0], 'tab-pane'] }
        - level = @user.level
        = high_chart('achievement_chart3', achievement_level_chart())
        #{pluralize(level[2] - level[3], 'more achievement')} to level #{level[0]+1}
      #accumulative{ class: [classes[1], 'tab-pane'] }
        = high_chart("achievement_chart2", achievement_cumulative_chart())
      #learned{ class: [classes[2], 'tab-pane'] }
        = render 'lessons/count'

.row
  .span12
    = render 'plans/overview', :plans => @plans

.row
  .span12
    %h2#state-chart
      Your Past States
      %small Learn from your past
    #chart-container
      #chart-hover-text
      = high_chart('achievement_chart', achievements_state_chart())

-# I NEED THIS. It is commented out so I don't need to see it again. But it is needed.
-#- if missed_schedules(1.month)
-#  = render 'page/reminder_modal'

%ol#joyRideTipContent
  %li{ data: { id: 'state-and-task-achievement' } }
    %p This is the state tool you just used. <span class='orange'>Use it everyday to keep a positive state</span> and learn more about yourself.
  %li{ data: { id: 'chart' } }
    %p Charts show your <span class='orange'>growth</span> and how much you <span class='orange'>learned.</span>
  %li{ data: { id: 'state-chart' } }
    %p Hover on the bar to show why you had that feeling on that day. If you are not feeling great right now, <span class='orange'>look at why you felt great in the past will inspire you.</span>
  %li{ data: { id: 'add-goal' } }
    %p You next step is to setup your first goal.


:javascript
  function chart_mouse_over(){
    $('#chart-hover-text').html(this.reasons);
    $('#chart-hover-text').show();
  }

  function chart_mouse_out(){
    $('#chart-hover-text').hide();
  }

  function column_formatter(){
    names = this.point.stateNames.split(',');
    imagePaths = this.point.imagePaths.split(',')

    html = '';
    var i = 0;
    for(i = 0; i < names.length; i++) {
      html += names[i] + '<div class="text-center"><img src="' + imagePaths[i] + '"></div>'
    }

    return '<div class="chart-image">'+html+'</div>'
  }

  function done(){
    alert ('a');
  }

  $(window).load(function() {
    $("#joyRideTipContent").joyride({
      autoStart : true,
      modal : true,
      //,
      //cookieMonster: true,
      //cookieName: 'JoyRide',
      //cookieDomain: false
      'postRideCallback' : function() {
        $('#no-plan-container').css('background-color','#ff8c00')
      }
    })
  });
