.row
  .span8
    .well#state-and-task-achievement
      = render 'achievements/new_state_achievement'
      = render 'achievements/new_task_achievement' if current_user.schedules.present?
  .span4#activities-container
    .text-center Live Feed
    #activities
      = render_activities(@activities)
    -##recent-states
    -#  - recent_states.each do |state|
    -#    %p
    -#      %small #{state[:date]}
    -#      %br
    -#      = image_tag state[:state_image]
    -#      = "#{state[:state_name]} - #{state[:reason]}"

.quote{ class: "bg#{rand(1..6)}" }= quote

.row
  .span8
    %h2#state-chart
      Emoji Chart
      %small Mouse over the bar to show details
    #chart-container
      #chart-hover-text
      = high_chart('achievement_chart', achievements_state_chart())
  .span4
    %h2#ha-chart Progress Charts
    = render 'layouts/graphs'
%hr
.row
  .span12
    = render 'plans/overview', user: @user

-# I NEED THIS. It is commented out so I don't need to see it again. But it is needed.
-#- if missed_schedules(1.month)
-#  = render 'page/reminder_modal'

%hr
.row
  .span8
    %h2 Supports Received In Last Week:
    = render 'votable/received'

  .span4
    %h2 #{User.count} Happy Achievers!
    %p.muted= icon_for(:level_up, 'Level') << ' ' << icon_for(:bullseye, 'Goals') << ' ' << icon_for(:star_empty, 'Achievements') << ' ' << icon_for(:book, 'Lessons') << ' ' << icon_for(:heart_empty, 'Gratefuls')
    = render 'users/all_users'

%ol#joyRideTip1.joyRideTip
  %li{ data: { id: 'home-button' } }
    %p Welcome to <span class='orange'>Happy Achiever!</span> We are happy to have you here, we hope you will find it helpful!
    %p Let us show you a few things here.  You can click on this <u>Home</u> link to come back to the this page anytime.
  %li{ data: { id: 'new-state-achievement-title' } }
    %p Your feelings create your reality.  Therefore <span class='orange'>understand your feeling</span> is a very important. Use this <span class='orange'>State Tool</span> EVERYDAY to keep yourself in a positive state.
    %p If you are happy, select a #{image_tag 'Happy.png'} icon from the list and write down the reason so you can reference it in the future.
    %p If you feel down, we have a easy guide to help you understand why you feel down.
  %li{ data: { id: 'state-button' } }
    %p Please select a date and enter how you feel now.

%ol#joyRideTip2.joyRideTip
  %li{ data: { id: 'activities' } }
    %p This shows activities from other members.
  %li{ data: { id: 'state-chart' } }
    %p This shows you an overview of your previous states.  If you are not feeling great right now, <span class='orange'>looking back at a time when you were happy</span> will inspire you.
  %li{ data: { id: 'ha-chart' } }
    %p Be PROUD of how much you have <span class='orange'>GROWTH</span>, how much <span class='orange'>PROGRESS</span> you have made, and all the things that you have <span class='orange'>LEARNED.</span>
  %li{ data: { id: 'add-goal' } }
    %p This area displays all your current goals. Right now you don't have any goals setup yet.  Now it is time to <span class='orange'>setup your first goal now.</span>

:javascript
  function chart_mouse_over(){
    $('#chart-hover-text').html(this.reasons);
    $('#chart-hover-text').show();
  }

  function chart_mouse_out(){
    $('#chart-hover-text').hide();
  }

  function column_formatter(){
    names = this.point.stateNames.split(',');
    imagePaths = this.point.imagePaths.split(',')

    html = '';
    for(var i = 0; i < names.length; i++) {
      html += '<img src="' + imagePaths[i] + '" width=22 height=22 style=\'margin-bottom:5px\'><br>'
    }

    return html;
  }

- if current_user.achievements.count == 0
  :javascript
    $(window).load(function() {
      $("#joyRideTip1").joyride({
        autoStart: true,
        modal: true,
        cookieMonster: true,
        cookieName: "JoyRide1#{current_user.id}",
        cookieDomain: false
      })
    });

- elsif current_user.achievements.count == 1
  :javascript
    $(window).load(function() {
      $("#joyRideTip2").joyride({
        autoStart: true,
        modal: true,
        cookieMonster: true,
        cookieName: "JoyRide2#{current_user.id}",
        cookieDomain: false,
        postRideCallback : function() {
          $('#no-plan-container').effect('highlight')
        }
      })
    });
