.home-plan-overview
  = render 'plans/overview', :plans => @plans
%hr

%section#achievements
  .row
    .span8
      = render 'achievements/level'

      %hr

      %h3 Recent Achievements
      = high_chart("achievement_chart", @chart)
      = render 'achievements/count'
    .span4
      %h3 How Do You Feel Today?
      = render 'achievements/state_achievement'

      -#%h3 Mark your achievement
      -#= render :partial => 'schedules/day_range', :locals => {:days => 1, :schedules => Schedule.all, :mode => 'achieve'}

      .list-no-style.view-schedule
        %h3 2 Days Schedule
        = render :partial => 'schedules/day_range', :locals => {:days => 3, :schedules => Schedule.all, :mode => 'view'}

        %button.btn.btn-info
          = icon_for(:user_md, 'I need motivation to take action!')

.todo Celebration is important.  Add celebration concept whenever hits a certain number.
.todo Define success and failure for each goal.
.todo Add date picker
.todo Add celebration concept on achievement screen.
.todo Allow select multiple emotions (bored and anger and fear)
.todo If a task that's supposed to do has not completed for 3 consecutive scheduled days, display reminder.
.todo Recent achievments don't include state achievement.  It should.
.todo Need a way to enter one-time task that helps the plan.
.todo Remove manually setting motivation.  Motivation basically could be auto calculated by how often u do a task. Then order the image based on the lack of motivation at the top.  Then make the lack of motivation task with a bigger font size.
.todo The up coming schedule could call out tasks that you haven't done for a long time.

%hr
TODO:<br>
First screen<br>
Do you want to achieve something in your life right now? (career, weightloss, tennis)
[Yes]
[No] link to Facebook and Youtube
---------
Where you spend your time on right now?
%input{ :type => 'text' }
%br
<u>Urgent and important</u> <u>Urgent and NOT important</u> <u>NOT Urgent and important</u> <u>NOT Urgent and NOT important</u><br>
< Show current working task ><br>
< Keep track of time I WASTED instead of working on my GOAL! ><br>
< Grateful jar >
"Habit --- how to build habit?  Doing "Task"
