.row
  .span8
    .well#state-and-task-achievement
      = render 'achievements/new_state_achievement'
      = render 'achievements/new_task_achievement'
  .span4
    = render 'layouts/graphs'
.row
  .span12
    = render 'plans/overview', :plans => @plans
.row
  .span12
    %h2#state-chart
      Your Past States
      %small Learn from your past
    #chart-container
      #chart-hover-text
      = high_chart('achievement_chart', achievements_state_chart())

-# I NEED THIS. It is commented out so I don't need to see it again. But it is needed.
-#- if missed_schedules(1.month)
-#  = render 'page/reminder_modal'

%ol#joyRideTipContent
  %li{ data: { id: 'state-and-task-achievement' } }
    %p <span class='orange'>This is the primary tool of Happy Achiever</span>
    %p You should use it everyday to keep yourself in a positive state.
    %p If you are happy, write down the reason so that when you can reference it in the future when you are down.
    %p If you feel down, there is a step-by-step guide to help you understand why you are down.
  %li{ data: { id: 'state-button' } }
    %p Please select a date and enter how you feel now.
  -#%li{ data: { id: 'state-and-task-achievement' } }
  -#  %p This is the state tool you just used. <span class='orange'>Use it everyday to maintain a positive state</span> and learn more about yourself.
  -#%li{ data: { id: 'chart' } }
  -#  %p Charts show your <span class='orange'>growth</span> and how much you <span class='orange'>learned.</span>
  -#%li{ data: { id: 'state-chart' } }
  -#  %p This chart shows your previous states.  If you are not feeling great right now, look at <span class='orange'>why you felt great in the past</span> will inspire you.
  -#%li{ data: { id: 'add-goal' } }
  -#  %p This area displays all your current goals.  <span class='orange'>Setup your first goal now.</span>


:javascript
  function chart_mouse_over(){
    $('#chart-hover-text').html(this.reasons);
    $('#chart-hover-text').show();
  }

  function chart_mouse_out(){
    $('#chart-hover-text').hide();
  }

  function column_formatter(){
    names = this.point.stateNames.split(',');
    imagePaths = this.point.imagePaths.split(',')

    html = '';
    var i = 0;
    for(i = 0; i < names.length; i++) {
      html += names[i] + '<div class="text-center"><img src="' + imagePaths[i] + '"></div>'
    }

    return '<div class="chart-image">'+html+'</div>'
  }

  $(window).load(function() {
    $("#joyRideTipContent").joyride({
      autoStart: true,
      modal: false,
      cookieMonster: false,
      cookieName: "JoyRide#{current_user.id}",
      cookieDomain: false,
      postRideCallback : function() {
        $('#no-plan-container').effect('highlight')
      }
    })
  });
