-#.text-center
-#  %h1 How it works
-#  .row
-#    .span6
-#      = image_tag 'HA_diagram.png'
-#    .span6.text-left
-#      %h2.orange State Management
-#      %p Keep yourself in a positive state.  If you feel down, it helps you understand why you have that feeling and it records your learning in our system.
-#      %h2.orange Goals Management and Tracking
-#      %p Setup your goals, strategize a plan, and create tasks to work on.  After completed a task, marked it as an achievement and write down what you learned.
-#      %h2.orange Achievements and Learning Tracking
-#      %p We track your achievements, organize your learning, and show you how much you have growth and progressed.
-#
-#%hr.soften

.row
  .span12
    %h1.text-center 3 steps process


%h2.large First, it keeps you in a positive state:
.row
  .span4
    .feature
      = image_tag 'ha_1_1.png'
      .alert Record your feeling everyday.  When you are happy, write it down so you will not forget this important moment and it can inspire you later.
  .span4
    .feature
      = image_tag 'ha_1_2.png'
      .alert When you are not feeling great, use our powerful emotional guideline to help you understand why you feel negatively, and how to combat it.
  .span4
    .feature
      = image_tag 'ha_1_3.png'
      .alert Keep track of your positive and negative states in a Emoji Chart.  Practice your emotional muscle everyday will make you strong!

%hr.soften

%h2.large Secondly, it motivates you to take actions on your goals:

-#.span4
-#  %h3 Simple step-by-step goal template to help you understand the psychology and mechanic of achieving your goal
.row
  .span4
    .feature
      = image_tag 'ha_2_1.png'
      .alert Don’t get derailed from uncertainty, frustration, and surprises.  Understanding your goals at a glance.
  .span4
    .feature
      = image_tag 'ha_2_2.png'
      .alert It is so much easier to take an action when you know why you do it with our purpose oriented weekly planner.
  .span4
    .feature
      = image_tag 'ha_2_3.png'
      .alert Be proud and get motivated by seeing how much progress you have made.

%hr.soften

%h2.large Finally, support and celebrate with each other along the way!
.row
  .span4
    .feature
      = image_tag 'ha_3_1.png'
      .alert Instant gratification every time you completed a task or recorded your state
  .span4
    .feature
      = image_tag 'ha_3_2.png'
      .alert Get an extra boost from others' supports.  You can send support to others, too!
  .span4
    .feature
      = image_tag 'ha_3_3.png'
      .alert Live feed shows what others are doing.  You will never feel you are alone!
