%p Hello #{@votable.user.display_name},

%p
  #{@voter.display_name} sent you a supports on
  %span{ blue_link } #{votable_message(@votable)}
  !

%p
  To view this support,
  - case @votable
    - when Plan then
      = link_to 'click here', plan_url(@votable)
    - when Achievement
      = link_to 'click here', achievement_url(@votable, back: 'back')

