%ul.unstyled
  %li
    You have learned
    %span.label.label-info= pluralize(@user.lessons.count_last_x_days(7), 'time')
    last week
  %li
    You have learned
    %span.label.label-info= pluralize(@user.lessons.count_last_x_days(30), 'time')
    last month
  %li
    You have learned
    %span.label.label-info= pluralize(@user.lessons.count, 'time')
    total

- if @user.lessons.present?
  = icon_for(:lightbulb, "You have learned:")
  "#{current_user.lessons.sample(1).first.note}"
