- return if activity.owner.nil?
- plan = activity.trackable
- return if plan.nil?

%p.activity
  = link_to(activity.owner.display_name, user_path(activity.owner))
  = ' create a goal '
  = link_to(plan.title, user_path(activity.owner))
  %br
  %span.activity-meta
    = votable_button(plan, :small)
    &middot;
    = activity.created_at.strftime('%D')

.clear-both
