= simple_form_for [@achievement, @empowerment] do |f|
  = f.error_messages
  #answer-0
    .question
      %h1 Is it a feeling you are feeling right now or in the past?
      .control-group.btn-group
        .btn{ data: { behavior: 'answer-btn-clicked', target: 'now', answer: 0 } } Right now
        .btn{ data: { behavior: 'answer-btn-clicked', target: 'past', answer: 0 } } In the past

  .content-section.hide
    %h1 What you FOCUS ON is what you Feel.<br>Feeling is your reality but is NOT REAL!
    %h3 Your emotion comes from your focus and the language you use.  Answer these questions below to clarify your mind.
    .header
      Focus

    #answer-1
      %strong.now 1. Are you focus on something you missed?
      %strong.past 1. Were you focus on something you missed?
      %br
      .control-group.btn-group
        .btn{ data: { behavior: 'answer-btn-clicked', target: 'text', answer: 1 } } Yes
        .btn{ data: { behavior: 'answer-btn-clicked', target: 'tips', answer: 1 } } No
      .control-group.hide.field#answer-text-1
        = f.text_field :answer_1, placeholder: 'What is it? Write it down here.', class: 'input-xxlarge'
        %br
        .label.label-important You will always feel unhappy if you focus on what you don't have instead of what you have

    #answer-2
      %strong.now 2. Are you focusing on something you cannot control VS something you can control? What is it?
      %strong.past 2. Were you focusing on something you could not control VS something you could control? What was it?
      %br
      .control-group.btn-group
        .btn{ data: { behavior: 'answer-btn-clicked', target: 'text', answer: 2 } } Cannot Control
        .btn{ data: { behavior: 'answer-btn-clicked', target: 'tips', answer: 2 } } Can Control
      .control-group.hide.field#answer-text-2
        = f.text_field :answer_2, placeholder: 'What is it? Write it down here.', class: 'input-xxlarge'
        %br
        .label.label-important Focus on you cannot control will definitely make you unhappy

    #answer-3
      %strong.now 3. Are you focusing on the past / future instead of present?
      %strong.past 3. Were you focusing on the past / future instead of present?
      %br
      .control-group.btn-group
        .btn{ data: { behavior: 'answer-btn-clicked', target: 'text', answer: 3 } } Past
        .btn{ data: { behavior: 'answer-btn-clicked', target: 'text', answer: 3 } } Future
        .btn{ data: { behavior: 'answer-btn-clicked', target: 'tips', answer: 3 } } Present
      .control-group.hide.field#answer-text-3
        = f.text_field :answer_3, placeholder: 'What is it? Write it down here.', class: 'input-xxlarge'
        %br
        .label.label-important Focus on the past makes you depressed; future makes you anxious; only present gives you peace

    #answer-4
      %strong.now 4. Are you focusing on something Urgent and Important?
      %strong.past 4. Were you focusing on something Urgent and Important?
      %br
      .control-group.btn-group
        .btn{ data: { behavior: 'answer-btn-clicked', target: 'text', answer: 4 } } Yes
        .btn{ data: { behavior: 'answer-btn-clicked', target: 'tips', answer: 4 } } No
      .control-group.hide.field#answer-text-4
        = f.text_field :answer_4, placeholder: 'What is it? Write it down here.', class: 'input-xxlarge'
        %br
        .label.label-important Urgent but not important activities are things that stop you achieving your goals.  It is not worth it!  They are really not that important when you look back!

  .content-section.hide
    .header
      Language

    #answer-5
      .control-group
        %strong 5. Did anything happen on you and you applied a meaning to it? (Come up with an example)
      .control-group.btn-group
        .btn{ data: { behavior: 'answer-btn-clicked', target: 'text', answer: 5 } } Yes
        .btn{ data: { behavior: 'answer-btn-clicked', target: 'tips', answer: 5 } } No
      .hide.field#answer-text-5
        .control-group
          = f.text_field :answer_5, placeholder: 'What is it? Write it down here.', class: 'input-xxlarge'
          %br
          .label.label-important We often associate our own value based on our values and belief, and a lot of time it is not the truth.

        .control-group
          %strong  To change your emotion, give it a different meaning of the thing that happened to you.
          = f.text_field :answer_6, placeholder: 'Write down a different, positive meaning', class: 'input-xxlarge'

    #answer-7
      .control-group
        %strong.now 6. Are you asking yourself a question now? Something like "Why can't I...", "Why don't him/her..", "Why is that...", "Why, Why Why?"
        %strong.past 6. Were you asking yourself a question? Something like "Why can't I...", "Why don't him/her..", "Why is that...", "Why, Why Why?"
      .control-group.btn-group
        .btn{ data: { behavior: 'answer-btn-clicked', target: 'text', answer: 7 } } Yes
        .btn{ data: { behavior: 'answer-btn-clicked', target: 'tips', answer: 7 } } No
      .hide.field#answer-text-7
        .control-group
          %strong.now What is the question you are asking to yourself now?
          %strong.past What was the question you asked yourself?
          %br
          = f.text_field :answer_7, class: 'input-xxlarge'
        .control-group
          %strong  To change how you feel instantly, change your focus by changing language you use!
          %br
          %small Ask yourself an empowering question now!  Change the negative words in your last question to positive words. If your question is "WHY", change it to "How"
          %br
          = f.text_field :answer_8, class: 'input-xxlarge'
          %br
          %strong  Can you come up with a possible solution?
          %br
          %small Be creative, be imaginative, think outside of box,
          %br
          = f.text_field :answer_9, class: 'input-xxlarge', placeholder: 'Write it down now!'

    %hr

    = f.submit class: 'btn'
