.page-header
  %h1 Feeling SoSo?

%h2 Method #1: Move your body
%ul
  %li Getting up and moving around!
  %li Jumping jack!
  %li Go outside and get some fresh air!
  = image_tag 'jumping-jack.gif', size: '100x100'

%h2 Method #2: Take deep breaths
%ul
  %li A few deep breaths is the quickest remedy for fatigue. It relaxes and re-energizes you at the same time.
  = image_tag 'deep-breath.jpg', size: '200x100'

%h2 Method #3: Splash cold water on your face
%ul
  %li Splashing some cold water on your face can help wake you up.
  = image_tag 'wash-face.jpg', size: '200x100'
%hr
= simple_form_for [@achievement, @empowerment] do |f|
  %p
    = f.submit value: "Done!", class: 'btn btn-success btn-large'
    Only click if you really tried it!

