- title "Action Plan"

%p
  %strong Task:
  = @action_plan.task_id
%p
  %strong Occurrence:
  = @action_plan.occurrence
%p
  %strong Target Count:
  = @action_plan.target_count

%p
  = link_to "Edit", edit_action_plan_path(@action_plan)
  |
  = link_to "Destroy", @action_plan, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", action_plans_path
