= simple_form_for([@plan, @focus_area]) do |f|
  = f.error_messages

  .control-group
    .alert
      %p= "Enter a New Focus Area" if @focus_area.new_record?
      = f.input :title, class: 'input-xxlarge'
      = f.input :display_order if @focus_area.persisted?
      .control-group
        = f.submit class: 'btn btn-success'
        &nbsp;
        = link_to 'Finish', plan_path(@plan, modal: 'add_tasks'), class: 'btn'
