= simple_form_for([@plan, @focus_area]) do |f|
  = f.error_messages

  .control-group
    .alert
      %p Enter a New Focus Area
      = f.text_field :title, label: false, class: 'input-xxlarge'
      .control-group
        = f.submit class: 'btn btn-success'
        &nbsp;
        = link_to 'Finish', plan_path(@plan, modal: 'add_tasks'), class: 'btn'
