= simple_form_for([@plan, @focus_area], html: { class: 'form-horizontal' }) do |f|
  = f.error_messages
  .control-group
    = f.label :title, class: 'control-label'
    .controls= f.text_field :title
  .control-group
    .controls= f.submit class: 'btn btn-success'
    = hidden_field_tag(:step, params[:step]) if params[:step].present?
