#focus-area-list
  - plan.focus_areas.each_with_index do |fa, index|
    .numberCircle
      = "#{index + 1}"
    .focus-area-title
      Focus Area:
      = fa.title
      = link_to icon_for(:edit), edit_focus_area_path(fa)
      = link_to icon_for(:remove), fa, confirm: 'Are you sure?', method: :delete
    .clear-both
    .tasks
      - if fa.tasks.present?
        .well
          %p Tasks:
          %ol
            - fa.tasks.each do |task|
              %li
                = link_to task.description, edit_focus_area_task_path(fa, task)
                = link_to icon_for(:remove), task, confirm: 'Are you sure?', method: :delete
                = link_to 'Add to Schedule', schedules_path, class: 'btn btn-mini'
          = link_to 'Add New Task', new_focus_area_task_path(fa, step: params[:step]), class: 'btn btn-info'
          for this focus area
      - else
        = link_to 'Add New Task', new_focus_area_task_path(fa, step: params[:step]), class: 'btn btn-info'
        for this focus area
      %hr
  .control-group.pull-left= link_to 'Add New Focus Area', new_plan_focus_area_path(plan, step: params[:step]), class: 'btn btn-success'
