#achievement_modal.modal.hide.fade
  .modal-header
    %button.close{ type: 'button', data: { dismiss: 'modal' } } &times;
    - if current_user.achievements.count == 1
      %h2= icon_for(:trophy, 'Thank You For Recording Your State!')
    - else
      %h1= icon_for(:trophy, 'Great Job!')

  .modal-body
    - if current_user.achievements.count == 1
      .well
        %p If you are happy, write it down so you can repeat in the future.
        %p If you are unhappy, this tool helps you feel better and it records the process so you can reference it in the future.
      %h3 Happy Achiever believes <span class='orange'>LEARNING</span> is an <span class='orange'>ACHIEVEMENT</span> because it helps your <span class='orange'>GROWTH</span>.
      %h3 This is your first <span class='orange'>ACHIEVEMENT</span> as a Happy Achiever!
      .text-center= image_tag 'star.png', :size => "60x60"
    - elsif current_user.achievements.count > 1
      .text-center
        %h1.orange
          %strong
            = "#{pluralize(current_user.achievements.count, 'Achievement')}"
            %small.orange (so far)
            !
        %p= image_tag 'clapping.jpg'
      - if current_user.achievements.last.task_id.present?
        %h3 We believe that whenever you took an action:
        %p
          You have <strong>GROWTH</strong><br>
          You have <strong>LEARNED</strong> something new<br>
          You are <strong>ONE STEP CLOSER</strong> to your goal<br>
          This is an <strong>ACHIEVEMENT</strong> worth to <strong>RECORD</strong> and <strong>CELEBRATE</strong><br>
          And <strong>WE</strong> are here to celebrate with <strong>YOU</strong>
      - else
        %p Keep the <span class='orange'>Momentum</span> going!
        %p <span class='orange'>Recording your state</span> everyday is like practicing your emotional muscle.
        %p Do it everyday will  <span class='orange'>Make You Strong!</strong>
  .modal-footer
    = link_to 'Continue!', '#', data: { dismiss: 'modal' }

:javascript
  window.onLoadModal = '#achievement_modal';
