#lesson_modal.modal.hide.fade
  .modal-header
    %button.close{ type: 'button', data: { dismiss: 'modal' } } &times;
    %h1= icon_for(:trophy, 'Awesome!')
  .modal-body
    .text-center
      %h1.orange
        %strong= "#{pluralize(current_user.achievements.count, 'Achievement')}!"
    %h3 Great Job on <span class='orange'>TAKING THE ACTION</span> to complete a task and write down what you learned!
    %p.text-center
      = image_tag 'clapping.jpg'
    %p Take a look at how much you have achieved and <span class='orange'>feel proud</span> of yourself!
  .modal-footer
    = link_to 'Done!', '#', data: { dismiss: 'modal' }

:javascript
  window.onLoadModal = '#lesson_modal';
