<% title "Goals" %>

<table>
  <tr>
    <th>Content</th>
    <th>Plan</th>
  </tr>
  <% for goal in @goals %>
    <tr>
      <td><%= goal.content %></td>
      <td><%= goal.plan_id %></td>
      <td><%= link_to "Show", goal %></td>
      <td><%= link_to "Edit", edit_goal_path(goal) %></td>
      <td><%= link_to "Destroy", goal, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Goal", new_goal_path %></p>
