%p{ class: "state#{achievement.state_id < 0 ? '-neg' : '-pos'}" }
  = achievement.achieved_date.strftime('%D')

  = state_image(achievement)

  feeling <span class='orange'>#{Achievement::VALID_STATE_TYPES[achievement.state_id].downcase}</span>
  = "because <span class='orange'>#{achievement.reason}</span>".html_safe if achievement.reason.present?

  = "(<span class='orange'>#{achievement.task.description}</span>)".html_safe if achievement.task.present?

  = link_to icon_for(:edit), edit_achievement_path(achievement) if current_user == achievement.user

  = link_to icon_for(:circle_arrow_right), achievement
