= simple_form_for(@achievement, html: { class: 'form-horizontal' }) do |f|
  = f.error_messages
  .control-group
    = f.label 'How did you feel?', class: 'control-label'
    .controls= collection_select(:achievement, :state_id, Achievement::VALID_STATE_TYPES.reject{ |_,v| v.starts_with?('-')}, :first, :last)
  .control-group
    = f.label 'Why?', class: 'control-label'
    .controls= f.input :reason, :as => :text, :input_html => { :rows => 3 }, label: false
  - if @task.present?
    .control-group
      = f.label 'Duration', class: 'control-label'
      .controls=f.input :duration, label: false, :input_html => { :value => params[:duration] || @achievement.duration }
  .control-group
    = f.label 'Privacy', class: 'control-label'
    .controls= collection_select(:achievement, :privacy, Achievement::PRIVACY.sort_by { |_,v| v }.reverse, :first, :last, selected: (@achievement.new_record? ? Achievement::SHOW_TO_PUBLIC : @achievement.privacy))
  .control-group
    .controls= f.submit class: 'btn'

  = f.hidden_field :achieved_date, :value => @date
  = f.hidden_field :task_id, :value => @task.id if @task.present?
%hr
