#new-state-achievement
  .text-center
    %h2#new-state-achievement-title{ style: 'display: inline-block' } How Do You Feel Today?

  = simple_form_for(Achievement.new, :html => { :class => 'form-inline text-center' }) do |f|
    = f.error_messages
    .dropdown{ style: 'display: inline-block' }
      %a#state-button.btn.dropdown-toggle{ data: {toggle: "dropdown"}, href: "#" }
        Select a State
        %span.caret
      %ul#state-dropdown-menu.dropdown-menu
        %li
          %ul.unstyled.text-left
            %li
              %p
                %strong= icon_for(:plus, 'State')
            - Achievement::VALID_STATE_TYPES.select{|state_id, _ | state_id > 0}.sort_by{ |_, name| name.length }.each do |state|
              %li
                = image_tag "#{state.last}.png"
                =link_to state.last, '#', data: { state_id: state.first, behavior: 'state-change', name: state.last }
          %ul.unstyled.text-left
            %li
              %p
                %strong= icon_for(:minus, 'State')
            - Achievement::VALID_STATE_TYPES.select{|state_id | state_id < 0}.sort_by{ |_, name| name.length }.each do |state|
              %li
                = image_tag "#{state.last}.png"
                = link_to state.last, '#', data: { state_id: state.first, behavior: 'state-change', name: state.last }
    = f.input :state_id, as: :hidden
    .hide#date
      = f.text_field :achieved_date, id: 'datepicker', placeholder: 'Click for date'
    .hide#reason
      = f.input :reason, label: false, placeholder: 'Enter a reason'
    = f.submit value: 'Save', class: 'btn btn-success'

