.text-center
  %h2#new-state-achievement-title{ style: 'display: inline-block' } How Do You Feel Today?
.well.thin
  #new-state-achievement
    = simple_form_for(Achievement.new, :html => { :class => 'form-inline text-center' }) do |f|
      = f.error_messages
      .dropdown{ style: 'display: inline-block' }
        %a#state-button.btn.btn-info.dropdown-toggle{ data: {toggle: "dropdown"}, href: "#" }
          Select a State
          %span.caret
        %ul#state-dropdown-menu.dropdown-menu
          %li
            %ul.unstyled.text-left
              %li
                %p
                  %strong= icon_for(:plus, 'State')
              - Achievement::VALID_STATE_TYPES.select{|state_id, _ | state_id > 0}.sort_by{ |_, name| name.length }.each do |state|
                %li
                  =link_to '#', data: { state_id: state.first, behavior: 'state-change', name: state.last } do
                    = image_tag "#{state.last}.png"
                    = state.last
            %ul.unstyled.text-left
              %li
                %p
                  %strong= icon_for(:minus, 'State')
              - Achievement::VALID_STATE_TYPES.select{|state_id | state_id < 0}.sort_by{ |_, name| name.length }.each do |state|
                %li
                  = link_to '#', data: { state_id: state.first, behavior: 'state-change', name: state.last } do
                    = image_tag "#{state.last}.png"
                    = state.last
      = f.input :state_id, as: :hidden
      .hide#date
        .control-group
          .controls= f.text_field :achieved_date, id: 'datepicker', placeholder: 'Select a date', class: 'input-medium'
      .hide#reason
        .control-group
          .controls= f.text_field :reason, class: 'input-xlarge', label: false, placeholder: 'Enter a reason'
      .hide#privacy
        .control-group
          .controls= collection_select(:achievement, :privacy, Achievement::PRIVACY, :first, :last)
      .hide#save-state
        = f.submit value: 'Save', class: 'btn btn-success'
      .hide#privacy-tips
        %p (It would be nice to show your positive state publicly to inspire others)

%hr
