- title "Task Achievement"

%h2= @achievement.user.display_name
= render 'achievement', achievement: @achievement

- if current_user == @achievement.user
  - if emp = Empowerment.find_by_achievement_id(@achievement.id)
    - details = empowerment_text(emp)

  - if details.present?
    .well
      %p
        %strong The following is only shown to you.  Other people cannot see it.
      %p= details

- if @achievement.privacy == Achievement::SHOW_TO_PUBLIC
  = render 'comments/list', commentable: @achievement
- else
  .well Other people cannot view this achievement and its comment because the privacy setting is private.

= votable_button(@achievement)
