.row
  .span12
    .page-header
      %h1 What Do You Want To Achieve?
.row
  - plans.each do |plan|
    .span4{ style: 'overflow:hidden' }
      %div
        = link_to image_tag(plan.image_url, :class => 'img-polaroid schedule-thumb plan-medium'), "#modal-plan#{plan.id}", { data: { toggle: "modal" }} if plan.image_url.present?
        %span.label.label-success= Plan::VALID_WHEEL_OF_LIFE_TYPES[plan.wheel_of_life]
        .sub-text= truncate(plan.purpose, length: 150)

    .plan-overview.modal.hide.fade{ id: "modal-plan#{plan.id}" }
      .modal-header
        %button.close{aria_hidden: "true", "data-dismiss" => "modal", :type => "button"} ×
        %h2
          = image_tag plan.image_url, class: 'plan-small' if plan.image_url.present?
          #{plan.title}
      .modal-body
        .motivation
          = icon_for(:question)
          %span.look Why :
          = plan.purpose
          %br
          = icon_for(:frown)
          %span.look Fail to follow through :
          = plan.if_not_achieved
        .data
          -#= icon_for(:heart)
          -#Motivation <span class='badge badge-success'>#{plan.motivation}</span>
          = icon_for(:time)
          Time scheduled this week: #{time_spent_in_words(plan.minutes_scheduled)}
          .todo (I think this should be put in a pie chart)
          %br

          = last_achieved(plan)
        = link_to(icon_for(:file_alt, 'View Plan Details'), plan_path(plan))
        &nbsp;
        = link_to(icon_for(:edit, 'Edit'), edit_plan_path(plan))
      .modal-footer
        %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close
