- plans.each do |plan|
  .span4
    = link_to image_tag(plan.image_url, :class => 'img-circle schedule-thumb plan-medium'), "#modal-plan#{plan.id}", { data: { toggle: "modal" }} if plan.image_url.present?
    %span.label.label-success= Plan::VALID_WHEEL_OF_LIFE_TYPES[plan.wheel_of_life]
    .sub-text= truncate(plan.purpose, length: 100)

  .plan-overview.modal.hide.fade{ id: "modal-plan#{plan.id}", "aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-header
      %button.close{aria_hidden: "true", "data-dismiss" => "modal", :type => "button"} ×
      %h3 #{plan.title}
    .modal-body
      = image_tag plan.image_url, :class => 'img-polaroid', :style => 'width:160px;height:160px' if plan.image_url.present?
      .motivation
        = icon_for(:question)
        %span.look Why :
        = plan.purpose
        %br
        = icon_for(:frown)
        %span.look Fail to follow through :
        = plan.if_not_achieved
      .data
        -#= icon_for(:heart)
        -#Motivation <span class='badge badge-success'>#{plan.motivation}</span>
        -#%br
        = icon_for(:time)
        Time scheduled this week: #{time_spent_in_words(plan.time_scheduled)}
        .todo (I think this should be put in a pie chart)
        %br

        = last_achieved(plan)
      = link_to(icon_for(:file_alt, 'View Plan Details'), plan_path(plan))
      &nbsp;
      = link_to(icon_for(:edit, 'Edit'), edit_plan_path(plan))
    .modal-footer
      %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close
