- if @user.plans.present?
  %h2
    Your #{pluralize(current_user.plans.count, 'Goal')}
    %small Take massive action and enjoy the process!

  .row.plan-overview
    %ul.unstyled
      - @user.plans.each do |plan|
        %li.plan-card
          %p.text-center
            = link_to image_tag(plan.image_url, class: 'img-polaroid plan-large'), "#modal-plan#{plan.id}", { data: { toggle: 'modal' }} if plan.image_url.present?

          - if (today_schedules = plan.schedules_on(DateTime.now.to_date)).present?
            %p
              .label.label-info.text-center{ style: 'display:block' } Today
              %ul.schedule-of-day
                = render partial: 'schedules/schedule', collection: today_schedules, locals: { mode: :view, date: DateTime.now.to_date }

          - if (tomorrow_schedules = plan.schedules_on(DateTime.now.tomorrow.to_date)).present?
            %p
              .label.text-center{ style: 'display:block' } Tomorrow
              %ul.schedule-of-day
                = render partial: 'schedules/schedule', collection: tomorrow_schedules, locals: { mode: :view, date: DateTime.now.tomorrow.to_date }

          - if (last_achievement = plan.last_achievement) && last_achievement.achieved_date < 1.week.ago
            %p.text-center
              = link_to("Attention!", "#modal-plan#{plan.id}", { data: { toggle: "modal" }, class: 'btn btn-danger'} )
            %p
              %small.attention You have done nothing for one week on this goal. Click on the button now.

          = render 'plans/attention_modal', plan: plan
- else
  %h2 You have not set up a goal yet.
  #no-plan-container
    = link_to 'Click here to add a goal', new_plan_path, id: 'add-goal'
