.row-fluid.plan-info
  - if plan.user == current_user || plan.privacy <= Plan::SHOW_GOAL_TITLE_PIC_TO_PUBLIC
    .span4.text-center
      %p= link_to image_tag(plan.image_path, class: 'img-polaroid plan-large'), plan_path(plan) if plan.image_path.present?
      = votable_button(plan)

      - if plan.user == current_user
        = render 'plans/reminder', plan: plan

    .span8
      - if plan.user == current_user || plan.privacy <= Plan::SHOW_GOAL_TITLE_PIC_TO_PUBLIC
        %h3.pull-left
          %strong= plan.title.titleize
        %h3.pull-right= icon_for(:star_empty, plan.achievements_count) << icon_for(:book, plan.lessons.count)
        .clear-both

      %ul.unstyled
        .well
          %li= plan_field_with_icon(:question, 'Why', plan.purpose) if plan.user == current_user || plan.privacy <= Plan::SHOW_GOAL_TITLE_PURPOSE_PIC_TO_PUBLIC

        - if plan.user == current_user || plan.privacy == Plan::SHOW_GOAL_TO_PUBLIC
          .well
            %li= plan_field_with_icon(:eye_open, 'Vision', plan.vision)
            %li= plan_field_with_icon(:ban_circle, 'Fail to follow through', plan.if_not_achieved)
          .well
            %li= plan_field_with_icon(:smile, 'Success Definition', plan.success_definition)
            %li= plan_field_with_icon(:frown, 'Failure Definition', plan.failure_definition)
          .well
            %li= plan_field_with_icon(:stop, 'Road Block 1', plan.road_block_1)
            %li= plan_field_with_icon(:stop, 'Road Block 2', plan.road_block_2)
            %li= plan_field_with_icon(:stop, 'Road Block 3', plan.road_block_3)
          .well
            %li= "#{icon_for(:time, 'Time scheduled')} #{time_spent_in_words(plan.minutes_scheduled)} this week".html_safe
            %li= "#{icon_for(:time, 'Time spent')} #{time_spent_in_words(plan.time_spent_last_week)} this week".html_safe

          -#= render 'plans/attention_modal', plan: plan
  - else
    .span4
      .well This goal is not shown to the public

  .clear-both
  %br
