- if plan.focus_areas.empty?
  .alert.text-left
    = image_tag 'attention.png'
    %p It is important to add focus area! Please do so now!
    %p= link_to 'Add focus area', new_plan_focus_area_path(plan), class: 'btn btn-warning'
- elsif plan.tasks.empty?
  .alert.text-left
    = image_tag 'attention.png'
    %p It is important to add tasks to focus areas! Please do so now!
    %p= link_to 'Add tasks', plan_path(plan), class: 'btn btn-warning'

- if plan.tasks.present? && (last_achievement = plan.last_achievement) && last_achievement.achieved_date < 2.weeks.ago
  .alert.text-left
    #{image_tag 'attention.png'}
    %p You haven't done anything on this goal for more than two week.
    %p <u>Taking an action is never a matter of ability but a matter of motivation.</u>
    %p Review your goal.  Is it the 'Why' is not big enough?  Add more reasons why you want to achieve this goal.
    %p Avoid reasons like "I don't have time." Be honest to yourself why you did not work on this goal.
