- streak = longest_streak(plan)
- return if streak.empty?
.status{ style: "background-image: url('/assets/run32.png')"}
  - if streak[:longest_overall]
    Longest streak: <span class='badge badge-warning'>#{streak[:longest_overall][:max]}</span>
    (Task: <strong> #{streak[:longest_overall][:task]}</strong>)
    #{days_ago(streak[:longest_overall][:max_date], false)}.
    %br

  - if streak[:longest_current]
    - streak[:longest_current].each do |s|
      = image_tag 'spacer.gif', size: '32x32'
      The current streak is doing <strong>#{pluralize(s[:count], 'time')}</strong> on task <b>#{s[:task]}</b>.<br>

  .quote Challenge yourself to beat your own record!
