%div
  = image_tag 'help_balloon.png', size: '32x32'
  = link_to '#', class: 'btn btn-mini', data: { behavior: 'show-plan-success' } do
    = image_tag 'sad48.png', size: '16x16'
    Feeling unarchived for this goal?
  &nbsp;
  = link_to '#', class: 'btn btn-mini', data: { behavior: 'show-plan-road-blocks' } do
    = image_tag 'sad48.png', size: '16x16'
    Having self doubt and uncertainty for this goal?

  .round-container.hide.plan-success-failure
    %p Review your success and failure definitions.  Are you making success very difficult to meet?  Define success to be easy to meet and define failure to be very difficult to meet.
    %ul.unstyled
      %li= plan_field_with_icon(:smile, 'Success Definition', plan.success_definition)
      %li= plan_field_with_icon(:frown, 'Failure Definition', plan.failure_definition)

    .quote &#8220;We don't need to wait to be happy after we achieved our goals. We can feel happy while we are working on the goal as long as we are growing, learning and enjoy the process.&#8221; - Tony Robbins
    .quote &#8220;Only those who dare to fail greatly can ever achieve greatly.&#8221; - Robert F. Kennedy

  .round-container.hide.plan-road-blocks
    %p Sometimes the journey to your goal is not always smooth.  There will be bumps on the road, and if you are not ready for them, you will be discouraged, frustrated, and want to give up.  Don't be! It is normal! Review your road blocks here so you will be ready for them!
    %ul.unstyled
      %li= plan_field_with_icon(:stop, 'Road Block 1', plan.road_block_1)
      %li= plan_field_with_icon(:stop, 'Road Block 2', plan.road_block_2)
      %li= plan_field_with_icon(:stop, 'Road Block 3', plan.road_block_3)

    .quote &#8220;I have not failed. I've just found 10,000 ways that won't work.&#8221; - Thomas Edison
    .quote &#8220;When someone tells me "no," it doesn't mean I can't do it, it simply means I can't do it with them.&#8221; - Karen E. Quinones Miller
