#mechanic
  .text-center
    = link_to image_tag(@plan.image_path, class: 'img-polaroid plan-large')
    %h1 Now the <span class='orange'>20% Mechanic</span> - The "HOW"

  %h2 What do you need to do to achieve your goal?
  %p First create high level focus areas, and then create specific tasks under each focus area.
  .well
    %p For example, the goal "lose weight" could have
    %ol
      %li
        %span.orange Focus Area:
        Exercise
        %ul
          %li Tasks: Jump rope, run treadmill
      %li
        %span.orange Focus Area:
        Diet
        %ul
          %li Tasks: No junk food, 5 small meals, health meal
      %li
        %span.orange Focus Area:
        Structure support
        %ul
          %li Tasks: update my friends with my progress, discuss with partners

  .pull-left= link_to 'Add New Focus Area', new_plan_focus_area_path(@plan, step: params[:step]), class: 'btn btn-success'
  .pull-right= link_to 'Done for now. Go to my goal.', @plan, class: 'btn'

- 3.times do
  - focus_area = @plan.focus_areas.build
  - 2.times { focus_area.tasks.build }

= @plan.focus_areas
= simple_form_for @plan do |f|
  = f.simple_fields_for :focus_areas do |fa_form|
    = fa_form.text_field :title, placeholder: 'Focus Area'

= link_to 'Update', edit_plan_path(@plan)

