- title "Show Plans"
.plan
  =link_to image_tag(@plan.image_url, :class => 'img-polaroid schedule-thumb plan-medium') if @plan.image_url.present?
  %h1= @plan.title

  .pull-right
    = link_to "Edit", edit_plan_path(@plan)
    |
    = link_to "Destroy", @plan, :confirm => 'Are you sure?', :method => :delete
    |
    = link_to "View All", plans_path

.plan-section
  .header Motivation

  %p
    %strong Wheel of life:
    %span.sub-text= Plan::VALID_WHEEL_OF_LIFE_TYPES[@plan.wheel_of_life]
  %p
    %strong Roles:
    %span.sub-text= @plan.roles
  %p
    %strong Vision:
    %span.sub-text= @plan.vision
  %p
    %strong Purpose:
    %span.sub-text= @plan.purpose
  %p
    %strong If Achieved:
    %span.sub-text= @plan.if_achieved
  %p
    %strong If Not Achieved:
    %span.sub-text= @plan.if_not_achieved

  .header Strategy
  = render 'focus_areas/list', :plan => @plan


.plan-section
  .header
    Achievements

  - @plan.tasks.each do |task|
    - task.achievements.each do |ta|
      %p
        = "#{ta.task.description} - #{Achievement::VALID_STATE_TYPES[ta.state_id]} - #{ta.achieved_date.strftime('%D')}"
        = link_to "(Add lesson learned)", new_achievement_lesson_path(ta)
        - ta.lessons.each do |lesson|
          %div= "Category: #{lesson.category} - Note: #{lesson.note}"

.plan-section
  .header
    Milestones
  = render @plan.milestones
  = link_to 'Add Milestone', new_plan_milestone_path(@plan)
