- title "Show Plans"
.plan
  =link_to image_tag(@plan.image_url, :class => 'img-polaroid schedule-thumb plan-medium') if @plan.image_url.present?
  %h1= @plan.title

  .pull-right
    = link_to icon_for(:edit), edit_plan_path(@plan)
    = link_to icon_for(:remove), @plan, :confirm => 'Are you sure?', :method => :delete

%h2.section= icon_for(:heart, 'Motivation')

%table.table
  %tr
    %td.title= icon_for(:cog, 'Wheel of life:')
    %td
      %strong= Plan::VALID_WHEEL_OF_LIFE_TYPES[@plan.wheel_of_life]
  %tr
    %td.title= icon_for(:user, 'Roles:')
    %td
      %strong= @plan.roles
  %tr
    %td.title= icon_for(:eye_open, 'Vision:')
    %td
      %strong= @plan.vision
  %tr
    %td.title= icon_for(:question, 'Purpose:')
    %td
      %strong= @plan.purpose
  -#%tr
  -#  %td.title= icon_for(:smile, 'If Achieved:')
  -#  %td
  -#    %strong= @plan.if_achieved
  %tr
    %td.title= icon_for(:frown, 'If Not Achieved:')
    %td
      %strong= @plan.if_not_achieved

.row
  .span6
    %h2.section= icon_for(:cogs, 'Strategy')
    %h3 Focus Areas
    = render 'focus_areas/list', :plan => @plan

  .span6
    %h2.section= icon_for(:flag_checkered, 'Milestones')
    = render @plan.milestones if @plan.milestones.present?
    = render 'layouts/empty', message: 'There is no milestones setup yet' if @plan.milestones.empty?
    = link_to 'Add Milestone', new_plan_milestone_path(@plan), class: 'btn btn-success'

%h2.section Achievements
.achievements
  - @plan.tasks.each do |task|
    - task.achievements.each do |ta|
      .achievement
        .well
          .pull-left
            = icon_for(:smile)
            = Achievement::VALID_STATE_TYPES[ta.state_id]
          .pull-right
            = ta.achieved_date.strftime('%D')
          .clearfix
          %h5= ta.task.description
          - if ta.reason.present?
            .well= ta.reason

          - if ta.lessons.present?
            .well
              - ta.lessons.each do |lesson|
                .label Lesson learned:
                .lesson= "#{lesson.category}: #{lesson.note}"
