- title "Show Plans"
.row
  .span8
    = render 'plans/status', plan: @plan

  .span4.plan-status
    %p.text-right
      = link_to 'Edit Goal', edit_plan_path(@plan), class: 'btn btn-success'
      = link_to 'Delete Goal', @plan, class: 'btn', :confirm => 'Are you sure?', :method => :delete
    .alert.alert-info= icon_for :lock, plan_privacy(@plan.privacy)
    %hr
    = render 'plans/status_tasks_done', plan: @plan
    = render 'plans/status_streak', plan: @plan
    = render 'plans/status_undone_task', plan: @plan
    = render 'plans/status_reminder', plan: @plan
%hr.soften

.row
  .span6
    %h2#_80_psychology.section
      = icon_for(:heart_empty, '80% Psychology')
    .quote &#8220;The only thing standing between you and your goal is the bullshit story you keep telling yourself as to why you can't achieve it.&#8221; - Jordan Belfort
    %table.table
      %tr
        %td.title= icon_for(:cog, 'Wheel of life:')
        %td= plan_field(@plan, Plan::VALID_WHEEL_OF_LIFE_TYPES[@plan.wheel_of_life])
      %tr
        %td.title= icon_for(:eye_open, 'Vision:')
        %td= plan_field(@plan, @plan.vision)
      %tr
        %td.title= icon_for(:question, 'Purpose:')
        %td= plan_field(@plan, @plan.purpose)
      %tr
        %td.title= icon_for(:ban_circle, 'Failure to take action:')
        %td= plan_field(@plan, @plan.if_not_achieved)
      %tr
        %td.title= icon_for(:smile, 'Success Definition:')
        %td= plan_field(@plan, @plan.success_definition)
      %tr
        %td.title= icon_for(:frown, 'Failure Definition:')
        %td= plan_field(@plan, @plan.failure_definition)
      %tr
        %td.title= icon_for(:stop, 'Road Block 1:')
        %td= plan_field(@plan, @plan.road_block_1)
      %tr
        %td.title= icon_for(:stop, 'Road Block 2:')
        %td= plan_field(@plan, @plan.road_block_2)
      %tr
        %td.title= icon_for(:stop, 'Road Block 3:')
        %td= plan_field(@plan, @plan.road_block_3)
      %tr
        %td.title= icon_for(:reorder, 'Display Order:')
        %td= plan_field(@plan, @plan.display_order)
      -#%tr
      -#  %td.title= icon_for(:user, 'Roles:')
      -#  %td
      -#    = plan_field(@plan, @plan.roles)
  .span6
    %h2#_20_mechanic.section= icon_for(:cogs, '20% Mechanics')
    .quote &#8220;Stay committed to your decisions, but stay flexible in your approach.&#8221; - Tony Robbins
    %hr.zero
    = render 'focus_areas/list', plan: @plan

%hr.soften

.row
  .span6
    %h2#milestones.section= icon_for(:flag_checkered, 'Milestones')
    .quote &#8220;A goal without a timeline is just a dream.&#8221; - Robert Herjavec
    - if @milestones.empty?
      .alert
        %p Click <strong>Add Milestone</strong> to start setting your target.
    - else
      = render @milestones
    %p Set milestones that break up your journey into smaller parts so the end result will not seem too far and impossible to achieve.
    %p Break your journey down and reward yourself every time you reach a milestone. That will encourage you to keep moving forward.
    .control-group= link_to 'Add Milestone', new_plan_milestone_path(@plan), class: 'btn btn-success'

  .span6
    %h2#achievements.section=icon_for(:trophy, 'Achievements')
    .quote &#8220;We don't need to wait to be happy after we achieved our goals. We can feel happy while we are working on the goal as long as we are growing, learning and enjoy the process.&#8221; - Tony Robbins
    .achievements
      - achievement_count = 0
      - @plan.tasks.each do |task|
        - task.achievements.each do |ta|
          - achievement_count += 1
          .achievement
            .well.thin
              .pull-left
                = icon_for(:smile)
                = Achievement::VALID_STATE_TYPES[ta.state_id]
              .pull-right
                = ta.achieved_date.strftime('%D')
              .clearfix
              %h5= ta.task.description
              - if ta.reason.present?
                .well.thin= ta.reason

              - if ta.lessons.present?
                .well.thin
                  - ta.lessons.each do |lesson|
                    .label Lesson learned:
                    .lesson= "#{lesson.category}: #{lesson.note}"

    = render 'layouts/empty', message: 'There is no achievement yet' if achievement_count == 0


-#= image_tag 'helpful-tips.jpg', size: '100x100'
-#%h3 Follow Through Your Goals
-#%p In order to achieve your goals, you have to follow through with them.
-#%ol
-#  %li Reminders
-#  %li Consistency
-#  %li Reset button
-#  %li Accountability

%ol#JoyRidePlan.joyRideTip
  %li{ data: { id: 'plan-title' } }
    %p
      = image_tag 'Happy.png'
      You are doing great so far!  I know it's a lot of work but we are almost done!
    %p This page is the main page of your goal.
  %li{ data: { id: '_80_psychology' } }
    %p To be able to achieve a goal or not is <span class='orange'>80%</span> based on psychology and <span class='orange'>20%</span> based on mechanics.
    %p How much you  <span class='orange'>WANT</span> to achieve a goal is more important than  <span class='orange'>HOW</span> to do it.
    %p Some people want to get up at 5am to work out but are not able do it.  Is it because they don't know <span class='orange'>HOW</span> to get up, or they are not <span class='orange'>MOTIVATED</span> enough?
    %p Completing all the fields in this section will <span class='orange'>increase motivation</span> and <span class='orange'>prepare you for success!</span>
  %li{ data: { id: '_20_mechanic' } }
    %p This section is <span class='orange'>HOW</span> to achieve your goal. What actions you need to take to achieve your goal.
    %p You can add more tasks and create new focus areas here.
  %li{ data: { id: 'milestones' } }
    %p No goal is too big - break it down into small milestones so you can tackle them one at a time.
  %li{ data: { id: 'achievements' } }
    %p Every time you completed a task, it is an achievement that you <span class='orange'>should be proud of.</span>
    %p All your achievements are showcased in here.  Very soon you will see this area filled with your achievements!
  %li{ data: { id: 'add-task-0' } }
    %p Click on <span class='orange'>Add Task To Schedule</span> to schedule your task.

:javascript
  $(window).load(function() {
    $("#JoyRidePlan").joyride({
      autoStart: true,
      modal: true,
      cookieMonster: true,
      cookieName: "JoyRidePlan#{current_user.id}",
      cookieDomain: false,
      postRideCallback : function() {
        $('#add-task-0').effect('highlight')
      }
    })
  });
