
- classes = ['active', '', '']
%ul.nav.nav-tabs#chart-tabs
  %li#emoji-chart-tab{ class: classes[0] }= link_to 'Emoji Chart', "#chart-container", data: {toggle: "tab" }
  %li#progress-chart-tab{ class: classes[1] }= link_to 'Progress Chart', "#progress", data: {toggle: "tab" }

.tab-content#chart
  #chart-container{ class: [classes[0], 'tab-pane'] }
    #chart-hover-text
    = high_chart('achievement_chart', achievements_state_chart())
  #progress{ class: [classes[1], 'tab-pane'] }
    = high_chart("achievement_chart2", achievement_progress_chart())

-#- classes = ['active', '', ''] #.shuffle
-#%ul.nav.nav-tabs#chart-tabs
-#  %li{ class: classes[0] }= link_to 'Progress', "#progress", data: {toggle: "tab" }
-#  %li{ class: classes[1] }= link_to 'Grow', "#grow", data: {toggle: "tab" }
-#  - if viewing_self?
-#    %li{ class: classes[2] }= link_to 'Learned', "#learned", data: {toggle: "tab" }
-#
-#.tab-content#chart
-#  #progress{ class: [classes[0], 'tab-pane'] }
-#    = high_chart("achievement_chart2", achievement_progress_chart())
-#  #grow{ class: [classes[1], 'tab-pane'] }
-#    - level = @user.level
-#    = high_chart('achievement_chart3', achievement_level_chart())
-#    #{pluralize(level[2] - level[3], 'more achievement')} to level #{level[0]+1}
-#  - if viewing_self?
-#    #learned{ class: [classes[2], 'tab-pane'] }
-#      = render 'lessons/count'
