.navbar.navbar-fixed-top
  .navbar-inner
    = link_to(icon_for(:smile, 'Happy Achiever'), root_path, class: 'brand')

    - if user_signed_in?
      %ul.nav
        %li{class: ('active' if request.path == '/') }
          = link_to 'Home', root_path, id: 'home-button'
        %li{class: ('active' if request.path.match(/schedules/)) }
          = link_to 'Schedule', schedules_path
        -#%li{class: ('active' if request.path.match(/plan/)) }
        -#  = link_to 'Goals', plans_path
        -#%li{class: ('active' if request.path.match(/how-it-works/)) }
        -#  = link_to 'How it works', how_it_works_page_path


    %ul.nav.pull-right
      - if user_signed_in?
        - level = current_user.level
        -#%li= link_to icon_for(:fire, 'Quick Power Boost!'), '#power_boost', class: '', data: { toggle: 'modal' } if current_user.gratefuls.present?
        %li= link_to icon_for(:star_empty, current_user.achievements.count), '#', class: '', title: pluralize(current_user.achievements.count, 'Achievement'), rel: 'tooltip', data: { toggle: 'tooltip' }
        %li= link_to icon_for(:level_up, level[0]), '#', class: '', title: "Level #{level[0]}", rel: 'tooltip', data: { toggle: 'tooltip' }

        %li.dropdown.pull-right
          = link_to "#", class: "dropdown-toggle", data: { toggle: "dropdown" } do
            = current_user.email
            %span.caret
          %ul.dropdown-menu
            %li
              = link_to('Logout', destroy_user_session_path, :method => :delete)
            %li
              = link_to('Edit registration', edit_user_registration_path)
      - else
        %li
          = link_to('Login', new_user_session_path)
        %li
          = link_to('Register', new_user_registration_path)


    - if user_signed_in?
      %p.navbar-text.pull-right

      .pull-right
