!!! 5
%html
  %head
    %title
      = yield(:title) || "Untitled"
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}
    %meta{ :name => 'viewport', :content => 'width=device-width, initial-scale=1.0' }
    - fontAwesomePath = asset_path('FontAwesome')
    :css
      @font-face {
        font-family: 'FontAwesome';
        src: url("#{fontAwesomePath}/fontawesome-webfont.eot?v=3.1.0");
        src: url("#{fontAwesomePath}/fontawesome-webfont.eot?#iefix&v=3.1.0") format("embedded-opentype"),
          url("#{fontAwesomePath}/fontawesome-webfont.woff?v=3.1.0") format("woff"),
          url("#{fontAwesomePath}/fontawesome-webfont.ttf?v=3.1.0") format("truetype"),
          url("#{fontAwesomePath}/fontawesome-webfont.svg#fontawesomeregular?v=3.1.0") format("svg");
          font-weight:normal;
          font-style:normal;
      }
    = stylesheet_link_tag "application"
    = javascript_include_tag :application
    = csrf_meta_tag
    = yield(:head)
  %body
    = render 'layouts/navbar'

    .container
      - flash.each do |name, msg|
        - if name == :error || name == :alert
          %p.alert.alert-error= msg

      = yield

    = render 'layouts/quick_boost'

    - if modal = params[:modal].presence
      = render "modals/#{modal}"

    #footer
      .container
        %hr
        %i.icon-comment-alt
          Do you like Happy Achiever?
        %i.icon-comment-alt
          Found a bug?
        %i.icon-comment-alt
          Any suggestions? Email to
        = mail_to 'info@happyachiever.com', 'info@happyachiever.com'
